<div>
	<img src="{IMG}" border="0" width="200" style="padding-right:5px;float:left;"/>
	<p>{NUM1}</p>
	<p>{NUM2}</p>
	<b>{CAPTION}</b><br/><br/>
	<p style="font-style:italic;">{TEXT}</p>
	<div style="clear:both;"></div>
</div>
<br/><br/>